services:
  backend:
    container_name: carbon-backend
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../backend/processed:/app/processed
    restart: always

  frontend:
    container_name: carbon-frontend
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "3000:80"
    restart: always
